{% extends "adminBase.html" %} {% block content %}

<style>
    table {
        width: 100%;
        margin-top: 20px;
    }

    th,
    td {
        padding: 10px;
    }

    table,
    th,
    td {
        border: 1px solid gray;
    }
</style>

{% if messages %}
{% for message in messages %}
<script>
    let i = true;
    if (i) {
        alert("{{ message }}")
        i = false
    }
</script>
{% endfor %}
{% endif %}


<section class="w3l-inner-page-breadcrumb">
    <div class="breadcrumb-bg py-5">
        <div class="container pt-lg-5 pt-md-3 p-lg-4 pb-md-3 my-lg-3">
            <h2 class="title pt-5">Add WorkSpace</h2>
        </div>
    </div>
</section>

<div class="w3l-contact-10" id="contact">
    <div class="form-41-mian py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="header-title text-center mx-auto">
                <h6 class="title-subhny mb-1">Add</h6>
                <h3 class="title-w3l">WorkSpace</h3>
            </div>
            <div class="contacts-5-grid-main mt-4">
                <div class="form-inner-cont">
                    <form action="#" method="post" class="signin-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-grids">
                            <div class="form-input" data-aos="fade-down">
                                <input type="text" name="area" placeholder="Total Area (in sqft)*" required />
                            </div>
                            <div class="form-input" data-aos="fade-down">
                                <input type="text" name="address" placeholder="Enter Address *" required="" />
                            </div>
                            <div class="form-input" data-aos="fade-up">
                                <input type="text" name="price" pattern="[0-9]+" placeholder="Token Amount *"
                                    required />
                            </div>
                            <div class="form-input" data-aos="fade-up">
                                <input type="file" class="form-input" name="file" placeholder="Document *" required />
                            </div>
                        </div>
                        <div class="form-input">
                            <textarea name="desc" placeholder="Description *" required=""></textarea>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-style btn-primary">ADD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="w3l-contact-10" id="contact">
    <div class="form-41-mian py-lg-5 py-md-4 py-2">
        <div class="container">
            <div class="header-title text-center mx-auto">
                <h6 class="title-subhny mb-1"></h6>
                <h3 class="title-w3l">WorkSpaces</h3>
                <table>
                    <tr>
                        <th>Area</th>
                        <th>Token Amount</th>
                        <th>Address</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th colspan="2">Action</th>
                    </tr>
                    {% for d in data %}
                    <tr>
                        <td>
                            <p style="white-space: nowrap;">{{d.size}} sq ft</p>
                        </td>
                        <td>{{d.price}}</td>
                        <td>{{d.location}}</td>
                        <td>{{d.description}}</td>
                        <td>
                            <a href="/static/media/{{d.image}}" target="_blank">
                                <img src="/static/media/{{d.image}}" width="200" alt="" />
                            </a>
                        </td>
                        <td>
                            <a href="/updateWorkSpace?id={{d.id}}">Update</a>
                        </td>
                        <td>
                            <a href="/deleteWorkSpace?id={{d.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}